<div class="image-slides__container" fxLayoutAlign="center center" fxFlex="100%">
  <div class="image-slides__content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" fxFlex="100%" fxFlex.gt-xs="80%"
    fxFlex.gt-md="50%">
    <h2 class="image-slides__title">Glazbeni Vrtić</h2>
    <p class="image-slides__description">
      Nove glazbene radosti kreću i ove jeseni. Budi i ti dio veselog malenog društva prepunog raznih malenih avantura.
    </p>
    <a class="image-slides__link-btn">Prijavi se</a>
  </div>
</div>
