<div *ngIf="article" class="news-post__container">
  <h3 class="news-post__category">{{ article.category }}</h3>
  <h2 class="news-post__title">{{ article.title }}</h2>
  <div class="news-post__info">
    <div class="news-post__date-posted">
      <fa-icon [icon]="calendarIcon"></fa-icon>
      <span>{{ article.datePosted | date: 'dd.MM.yyyy.' }}</span>
    </div>
    <div class="news-post__created-by">
      <fa-icon [icon]="userIcon"></fa-icon>
      <span>{{ article.createdBy }}</span>
    </div>
  </div>
  <div class="news-post__image">
    <img [src]="article.coverImage" alt="Post Image" />
  </div>
  <div class="news-post__text" [innerHTML]="article.content | sanitizeHtml"></div>
</div>

<app-loading *ngIf="loading"></app-loading>
