<div class="about__container">
  <app-subheader [title]="'O nama'" [subtitle]="'Sve informacije o Glazbaonici'"></app-subheader>
  <div class="about__wrapper" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
    <div class="about__title">
      <h2 class="about__title-text">O nama</h2>
      <span class="about__title-underline"></span>
    </div>
    <div class="about__content" fxLayoutAlign="center center">
      <div class="about__sections" fxLayout="column" fxLayout.gt-sm="row" fxFlex="100%" fxFlex.gt-sm="80%" fxLayoutAlign="space-between stretch">
        <div fxFlex="100%" fxFlex.gt-xs="50%" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap-xs="24px">
          <div class="about__section" fxLayout="column" fxLayoutAlign="start center">
            <div class="about__section-icon">
              <fa-icon [icon]="whoWeAreIcon"></fa-icon>
            </div>
            <h3 class="about__section-title">Tko smo?</h3>
            <ul class="about__section-list">
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Glazbena radionica za djecu predškolskog i ranog školskog uzrasta
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Glazbeni vrtić Posušje djeluje od veljače 2014. godine
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Program vode visoko kvalificirane profesorice glazbe: Marija Polić
                i Marina Mitar
              </li>
            </ul>
          </div>
          <div class="about__section" fxLayout="column" fxLayoutAlign="start center">
            <div class="about__section-icon">
              <fa-icon [icon]="structureIcon"></fa-icon>
            </div>
            <h3 class="about__section-title">Struktura</h3>
            <ul class="about__section-list">
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Program je podijeljen u četiri skupine, osmišljene ovisno o dobi polaznika
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Skupine se međusobno razlikuju po zahtjevnosti izvođenja predviđenog
                plana i programa
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Plan i program po uzoru na Funkcionalnu muzičku pedagodiju
              </li>
            </ul>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="50%" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap-xs="24px">
          <div class="about__section" fxLayout="column" fxLayoutAlign="start center">
            <div class="about__section-icon">
              <fa-icon [icon]="activitiesIcon"></fa-icon>
            </div>
            <h3 class="about__section-title">Aktivnosti</h3>
            <ul class="about__section-list">
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Pjevanje, glazbene igre i slušanje glazbe
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Izvođenje brojalica uz ritmičke i metričke pokrete
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Upoznavanje i izrađivanje raznih glazbenih instrumenata
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Sviranje na dječjem instrumentariju
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Glazbene improvizacije i likovni doživljaj
              </li>
            </ul>
          </div>
          <div class="about__section" fxLayout="column" fxLayoutAlign="start center">
            <div class="about__section-icon">
              <fa-icon [icon]="whyUsIcon"></fa-icon>
            </div>
            <h3 class="about__section-title">Zašto mi?</h3>
            <ul class="about__section-list">
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Priprema i osposobljavanje djeteta za nastavak glazbenog obrazovanja
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Veseli i razigrani javni nastupi na glazbenim priredbama
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Glazbeni vrtić Posušje organizira najmanje tri priredbe godišnje
              </li>
              <li class="about__section-desc">
                <fa-icon [icon]="musicIcon"></fa-icon>Sve veći interes i broj polaznika na ovoj radionici
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
