<div class="about__container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
  <div class="about__title">
    <h2 class="about__title-text">O nama</h2>
    <span class="about__title-underline"></span>
  </div>
  <div class="about__content" fxLayoutAlign="center center">
    <div class="about__sections" fxLayout="column" fxFlex="100%" fxFlex.gt-sm="80%" fxLayoutAlign="space-between center">
      <div class="about__section">
        <h3 class="about__section-title">Tko smo?</h3>
        <p class="about__section-description">Glazbeni vrtić Posušje je glazbena radionica koja obuhvaća program prilagođen
          djeci predškolskog i ranog školskog uzrasta. Djelatnost ove radionice objedinjuje glazbeni odgoj i obrazovanje
          djece prema pažljivo osmišljenom planu i programu po uzoru na Funkcionalnu muzičku pedagogiju. Posebnosti našeg
          rada su kvalitetno organizirane glazbene aktivnosti koje potiču djetetov cjelovit odgoj i obrazovanje.
        </p>
      </div>
      <div class="about__section">
        <h3 class="about__section-title">Struktura</h3>
        <p class="about__section-description">
          Program je podijeljen u četiri skupine, osmišljene ovisno o dobi polaznika, a skupine se međusobno razlikuju po zahtjevnosti
          izvođenja predviđenog plana i programa. Glazbeni vrtić Posušje djeluje od veljače 2014. godine, a od samih početaka
          interes djece za upis je iznimno velik. Program vode visoko kvalificirane profesorice glazbe; Marija Polić i Marina
          Mitar.
        </p>
      </div>
      <div class="about__section">
        <h3 class="about__section-title">Aktivnosti</h3>
        <p class="about__section-description">Aktivnosti s kojima će se polaznici susretati tokom radionica su pjevanje,
          izvođenje brojalica uz ritmičke i metričke pokrete, glazbene igre, slušanje glazbe, likovni doživljaj, sviranje
          na dječjem instrumentariju, glazbene improvizacije, upoznavanje raznih glazbenih instrumenata, izrađivanje dječjih
          instrumenata te javni nastupi na glazbenim priredbama.
        </p>
      </div>
      <div class="about__section">
        <h3 class="about__section-title">Zašto mi?</h3>
        <p class="about__section-description">
          Ova glazbena radionica može biti priprema za nastavak glazbenog obrazovanja, ali jednako kvalitetno osposobljava dijete za
          bilo koje drugo životno usmjerenje primjereno njegovim interesima i sposobnostima. Zbog kvalitetne, raznolike i
          zanimljive djelatnosti Glazbeni vrtić Posušje organizira najmanje tri priredbe godišnje koje iz godine u godinu
          bilježe sve veću uspješnost o čemu svjedoči sve veći interes i broj polaznika na ovoj radionici.
        </p>
      </div>
    </div>
  </div>
</div>
