<div class="header__container" fxFlex.lt-md="100%" fxFlex.md="90%" fxFlex.gt-md="80%" fxLayoutAlign="space-between center"
  fxFlexFill>
  <div class="header__logo">
    <h2 class="header__app-name">Glazbaonica</h2>
  </div>
  <div class="header__navigation__container">
    <ul class="header__navigation__box" fxHide.lt-md fxLayoutAlign="space-around center">
      <li class="header__navigation__item">
        <a class="header__navigation__link">Početna</a>
      </li>
      <li class="header__navigation__item">
        <a class="header__navigation__link">Prijave</a>
      </li>
      <li class="header__navigation__item">
        <a class="header__navigation__link">Novosti</a>
      </li>
      <li class="header__navigation__item">
        <a class="header__navigation__link">O nama</a>
      </li>
      <li class="header__navigation__item">
        <a class="header__navigation__link">Kontakt</a>
      </li>
    </ul>
    <div class="header__navigation__hamburger" fxHide.gt-sm>
      <span>Icon</span>
    </div>
  </div>
</div>
