<div class="succes-confirm-container" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
  <div class="check_mark">
    <div class="sa-icon sa-success animate">
      <span class="sa-line sa-tip animateSuccessTip"></span>
      <span class="sa-line sa-long animateSuccessLong"></span>
      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div>
  </div>
  <p class="sa-text">Hvala na uspješnoj prijavi za
    <br> Glazbeni Vrtić</p>
  <div class="action-container" fxLayout.lt-md="column" fxLayoutAlign="space-between strech">
    <button class="action-button small" (click)="onResetForm()">Ispuni novu prijavu</button>
    <button class="action-button outline small" [routerLink]="[ '/' ]">Natrag na početnu</button>
  </div>
</div>
