<div class="enrollment-container">
  <app-subheader [title]="'Glazbeni Vrtić'" [subtitle]="'Upisi za 2021. / 2022. godinu'"></app-subheader>

  <div class="container">
    <!-- Expiration info -->
    <div *ngIf="isExpired" class="form__information-container form-social">
      <h3 class="form-social__title">Nažalost, upisi su završeni.</h3>
      <span class="form-social__description">Za sve dodatne informacije javiti se na:</span>
      <div class="form-social-links">
        <a href="https://www.facebook.com/glazbenivrtic.posusje" target="__blank" class="form-social__link">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
        <a href="https://www.instagram.com/glazbenivrtic" target="__blank" class="form-social__link">
          <fa-icon [icon]="instagramIcon"></fa-icon>
        </a>
        <a href="https://wa.me/+38763468055" target="__blank" class="form-social__link">
          <fa-icon [icon]="whatsappIcon"></fa-icon>
        </a>
      </div>
    </div>

    <div *ngIf="!isExpired" class="form__information-container">
      <h3 class="form__information-title">Imate mališana od 5 i 6 godina koji obožava pjevati!?!</h3>
      <p class="form__information-text">
        Glazbeni vrtić Posušje je pravo mjesto za sve vrste muziciranja koje Vaše dijete poželi. Broj mjesta je
        ograničen, stoga požurite i osigurajte mjesto Vašem mališanu.
        <br />
        <br />
        <b>Upisi će biti otvoreni do 9.9.2021. godine</b>.
      </p>
      <span class="form__information-announce"> Nove i uzbudljive avanture uskoro kreću!!! 🎵🎶🎤🥁 </span>
    </div>

    <app-apply-form *ngIf="!isExpired"></app-apply-form>
  </div>
</div>

<app-modal *ngIf="openModal$ | async" [targetUrl]="targetUrl"></app-modal>
