@import '~src/_variables.scss';

.applicants-list__header {
  min-height: 340px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #e65656 0,
    #f65c5c 25%,
    #fb6363 50%,
    #fc6666 75%,
    #fa6464 100%
  );

  @include xsmall {
    min-height: 250px;
  }
  &__content {
    padding: 20px;
  }

  &__title {
    margin-top: 34px;
    color: white;
    font-size: 36px;
  }
  &__info {
    color: rgba($color: #ffffff, $alpha: 0.9);
    margin: 0;
    font-size: 18px;
  }
}
.applicants-list {
  &__table {
    margin: 36px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  &__column {
    width: 100%;
    overflow: hidden;
    &.number {
      max-width: 40px;
      text-align: center;
    }
  }
  &__item {
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba($color: #333333, $alpha: 0.1);
    }
  }
  &__row {
    &.header {
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #ccc;
    }
  }
  &__cell {
    color: #333;
    &:not(.number) {
      padding: 0 12px;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.number {
      text-align: center;
      font-size: 14px;
    }
  }
}
.applicants-list__details {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &.active {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }
}
