@import '~src/_variables.scss';

.applicants-list__header {
  position: relative;
  min-height: 340px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #ee3b3b 0,
    #f53e3e 25%,
    #f74747 50%,
    #fb4f4f 75%,
    #ff5959 100%
  );

  @include xsmall {
    min-height: 250px;
  }
  &__content {
    padding: 20px;
    margin-bottom: 20px;
  }
  &__title {
    margin-top: 34px;
    color: white;
    font-size: 36px;
  }
  &__info {
    color: rgba($color: #ffffff, $alpha: 0.9);
    margin: 0;
    font-size: 18px;
  }
}
.applicants-list {
  &__content {
    background-color: #fafafa;
  }
  &__table {
    margin: 36px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba($color: #333333, $alpha: 0.2),
      0 8px 10px 1px rgba($color: #333333, $alpha: 0.14),
      0 3px 14px 2px rgba($color: #333333, $alpha: 0.12);
  }
  &__column {
    width: 100%;
    overflow: hidden;
    &.number {
      max-width: 40px;
      text-align: center;
    }
  }
  &__item {
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
  &__row {
    &:not(.header) {
      transition: background-color 0.3s;
    }
    &:not(.header):hover {
      cursor: pointer;
      background-color: rgba($color: #333333, $alpha: 0.1);
    }
    &.header {
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #ccc;
    }
  }
  &__cell {
    color: #333;
    &:not(.number) {
      padding-left: 12px;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.number {
      text-align: center;
      font-size: 14px;
    }
  }
}
.applicants-list__details {
  &__container {
    // height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s;
    &.active {
      padding: 20px; // height: 340px;
      overflow: visible;
      opacity: 1;
      visibility: visible;
      border-top: 1px solid #eee;
      @include xsmall {
        padding: 16px 0;
      }
    }
    &:not(.active) {
      height: 0;
    }
  }
  /* &__row {
    border-top: 1px solid #eee;
  } */
  &__box {
    padding: 0px 8px 0 20px;
    margin: 8px 0px;
    width: 100%;
    color: #333;
    & > p {
      margin: 0;
      font-size: 14px;
      color: rgba($color: #333333, $alpha: 0.7);
    }
    & > h4 {
      margin: 8px 0;
      min-height: 18px;
      // font-size: 15px;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      word-wrap: break-word;
      &.no-data {
        font-size: 14px;
        font-style: italic;
        color: rgba($color: #333333, $alpha: 0.5);
        font-weight: 500;
      }
    }
  }
}
.applicants-list__tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-x: auto;
  &__item {
    border-bottom: 2px solid #ff5959;
    color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    min-width: 150px;
    transition: all 0.3s;
    &.active {
      border-bottom-color: white;
      color: white;
    }
    @include xsmall {
      width: 100%;
      min-width: 80px;
    }
  }
}
