<div class="applicants-list__container">
  <div class="applicants-list__header" fxLayoutAlign="center center">
    <div class="applicants-list__header__content" fxFlex="100%" fxFlex.gt-sm="80%" fxLayout="column" fxLayoutGap="16px">
      <h2 class="applicants-list__header__title">Glazbeni Vrtić</h2>
      <p class="applicants-list__header__info">Prijave za 2018. / 2019. godinu</p>
    </div>
    <div class="applicants-list__tabs" fxFlex="100%" fxFlex.gt-sm="80%" fxLayoutAlign="start center">
      <div class="applicants-list__tabs__item" [ngClass]="{'active': activeTab === 1}" (click)="setActiveTab(1)">Upisi</div>
      <div class="applicants-list__tabs__item" [ngClass]="{'active': activeTab === 2}" (click)="setActiveTab(2)">Grupe</div>
    </div>
  </div>
  <div *ngIf="activeTab === 1" class="applicants-list__content" fxLayoutAlign="center center" fxFlexFill>
    <div class="applicants-list__table" fxFlex="100%" fxFlex.gt-sm="80%" fxLayout="column">
      <div class="applicants-list__row header" fxFlex="100%" fxLayoutAlign="space-around center">
        <div class="applicants-list__column number">
          <p class="applicants-list__cell number">#</p>
        </div>
        <div class="applicants-list__column" fxFlex.xs="65%" fxFlex="100%">
          <p class="applicants-list__cell">Ime i Prezime</p>
        </div>
        <div class="applicants-list__column" fxFlex.xs="35%" fxFlex="100%">
          <p class="applicants-list__cell">Godine</p>
        </div>
        <div class="applicants-list__column" fxHide.xs>
          <p class="applicants-list__cell">Datum rođenja</p>
        </div>
        <div class="applicants-list__column" fxHide.xs>
          <p class="applicants-list__cell">Imena roditelja</p>
        </div>
        <div class="applicants-list__column" fxHide.xs>
          <p class="applicants-list__cell">Kontakt broj</p>
        </div>
      </div>
      <div *ngFor="let applicant of applicants; let i=index" (click)="showInfo(i)" class="applicants-list__item" fxLayout="column">
        <div class="applicants-list__row" fxFlex="100%" fxLayoutAlign="space-around center">
          <div class="applicants-list__column number">
            <p class="applicants-list__cell number">#{{ applicants.length - i }}</p>
          </div>
          <div class="applicants-list__column" fxFlex.xs="65%" fxFlex="100%">
            <p class="applicants-list__cell name">{{ applicant.firstName + ' ' + applicant.lastName }}</p>
          </div>
          <div class="applicants-list__column" fxFlex.xs="35%" fxFlex="100%">
            <p class="applicants-list__cell years">{{ applicant.birthdate | age }}</p>
          </div>
          <div class="applicants-list__column" fxHide.xs>
            <p class="applicants-list__cell birthdate">{{ applicant.birthdate | date:'dd.MM.yyyy' }}</p>
          </div>
          <div class="applicants-list__column" fxHide.xs>
            <p class="applicants-list__cell parents">{{ applicant.parentsNames }}</p>
          </div>
          <div class="applicants-list__column" fxHide.xs>
            <p class="applicants-list__cell contact">{{ applicant.phoneNumber }}</p>
          </div>
        </div>
        <div [ngClass]="{'active': activeDetails === i }" class="applicants-list__details__container" fxLayout="column">
          <div fxFlex="100%" fxLayout.lt-md="column">
            <div class="applicants-list__details__row" fxFlex="50%">
              <div class="applicants-list__details__box" fxFlex="50%">
                <p>Ime</p>
                <h4 *ngIf="applicants[i]?.firstName">{{ applicants[i]?.firstName }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.firstName">Nema podataka</h4>
              </div>
              <div class="applicants-list__details__box" fxFlex="50%">
                <p>Prezime</p>
                <h4 *ngIf="applicants[i]?.lastName">{{ applicants[i]?.lastName }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.lastName">Nema podataka</h4>
              </div>
            </div>
            <div class="applicants-list__details__row" fxFlex="50%">
              <div class="applicants-list__details__box" fxFlex="50%">
                <p>Datum rođenja</p>
                <h4 *ngIf="applicants[i]?.birthdate">{{ applicants[i]?.birthdate | date:'dd.MM.yyyy' }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.birthdate">Nema podataka</h4>
              </div>
              <div class="applicants-list__details__box" fxFlex="50%">
                <p>Broj godina</p>
                <h4 *ngIf="applicants[i]?.birthdate">{{ applicants[i]?.birthdate | age }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.birthdate">Nema podataka</h4>
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxLayout.lt-md="column">
            <div class="applicants-list__details__row" fxFlex="50%" fxLayout="column">
              <div class="applicants-list__details__box" fxFlex.xs="100%" [fxFlex.gt-xs]="!!applicants[i]?.parentsNames ? '100%' : '50%'">
                <p>Imena roditelja</p>
                <h4 *ngIf="applicants[i]?.parentsNames">{{ applicants[i]?.parentsNames }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.parentsNames">Nema podataka</h4>
              </div>
              <div class="applicants-list__details__box" fxFlex.xs="100%" [fxFlex.gt-xs]="!!applicants[i]?.phoneNumber ? '100%' : '50%'">
                <p>Kontakt broj</p>
                <h4 *ngIf="applicants[i]?.phoneNumber">{{ applicants[i]?.phoneNumber }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.phoneNumber">Nema podataka</h4>
              </div>
            </div>
            <div class="applicants-list__details__row" fxFlex="50%" fxLayout="column">
              <div class="applicants-list__details__box" fxFlex.xs="100%" [fxFlex.gt-xs]="!!applicants[i]?.email ? '100%' : '50%'">
                <p>Email</p>
                <h4 *ngIf="applicants[i]?.email">{{ applicants[i]?.email }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.email">Nema podataka</h4>
              </div>
              <div class="applicants-list__details__box" fxFlex.xs="100%" [fxFlex.gt-xs]="!!applicants[i]?.message ? '100%' : '50%'">
                <p>Napomena</p>
                <h4 *ngIf="applicants[i]?.message">{{ applicants[i]?.message }}</h4>
                <h4 class="no-data" *ngIf="!applicants[i]?.message">Nema podataka</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!applicants" class="applicants-list__empty-list">
        <p>Nema podataka</p>
      </div>
    </div>
  </div>
  <div *ngIf="activeTab === 2" class="groups" fxLayoutAlign="center center" fxFlexFill>
    <h2 style="color: #333; padding-left: 16px;">Uskoro!</h2>
  </div>
</div>
<app-loading *ngIf="!!loading" fxLayout="column" fxLayoutAlign="center center"></app-loading>
