@import '../../../_variables.scss';

.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 2em 0.5em;
    & > form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 0.5em;
      margin: 1.5em 0;
      @include xsmall {
        grid-template-columns: 1fr;
      }
    }
  }
  &__field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    &.recaptcha {
      display: none;
    }
  }
  &__field.message,
  &__action {
    grid-column: span 2;
    @include xsmall {
      grid-column: span 1;
    }
  }

  &__label {
    position: relative;
    margin: 8px 0;
    font-weight: 600;
    color: rgba($color: #333333, $alpha: 0.7);
    padding-left: 20px;

    & > span {
      padding-left: 8px;
    }
  }

  &__input {
    position: relative;
    font-size: 1.2em;
    line-height: 1.4em;
    border-radius: 24px;
    border: 1px solid #ccc;
    padding: 8px 20px;
    -webkit-appearance: none;
    min-height: 26px;
    color: #333;
    transition: border-color 0.3s;

    &.hide {
      display: none;
    }
    &:focus {
      outline: none;
      border-color: #56abe6;
    }
    &.ng-touched.ng-invalid {
      border-color: #e54352;
    }
    &.ng-touched.ng-dirty.ng-valid {
      border-color: #1db954;
    }
    &:required ~ .form__label::before {
      content: '*';
      position: absolute;
      top: -2px;
      left: 8px;
      color: #e54352;
      font-size: 18px;
    }
  }

  &__textarea {
    resize: none;
    box-sizing: border-box;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  &__error-msg {
    font-size: 0.8em;
    height: 15px;
    padding-left: 20px;
    color: #e54352;
    margin-top: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form__date {
  &-container {
    position: relative;
  }
  &-input {
    padding-right: 48px;
  }
  &-icon {
    cursor: pointer;
    position: absolute;
    color: rgba($color: #333333, $alpha: 0.7);
    right: 0;
    top: 34px;
    padding: 13px 20px 13px 0;
    border-radius: 24px;
    /* width: calc(100% - 20px); */
    text-align: right;
  }
  &-mobile {
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* width: calc(100% - 42px); */
  }
}

.form__information {
  &-container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 2em;
    @include xsmall {
      padding: 1.5em;
    }
  }
  &-title {
    color: #333;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  &-text {
    line-height: 1.4em;
    color: #333;
    margin-top: 0;
  }
  &-announce {
    color: #333;
  }
}
