<div class="form__container">
  <div class="form__header" fxLayoutAlign="center center">
    <div class="form__header__content" fxFlex="100%" fxFlex.md="80%" fxFlex.gt-md="60%" fxLayout="column" fxLayoutGap="24px">
      <h2 class="form__header__title">Glazbeni Vrtić</h2>
      <p class="form__header__info">Prijave za 2018. / 2019. godinu</p>
    </div>
  </div>
  <div class="form__content" fxLayoutAlign="center center">
    <form [formGroup]="applyForm" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex="100%" fxFlex.md="80%" fxFlex.gt-md="60%"
      fxLayoutGap="24px">
      <div class="form__wrapper" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Ime</p>
          <input class="form__input" type="text" formControlName="firstName" required>
          <span *ngIf="firstName.hasError('required')" class="form__error-msg">{{firstName.hasError('required')}}</span>
        </div>
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Prezime</p>
          <input class="form__input" type="text" formControlName="lastName" required>
          <span *ngIf="lastName.hasError('required')" class="form__error-msg">Error message</span>
        </div>
      </div>
      <div class="form__wrapper" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Datum rođenja</p>
          <input class="form__input" type="text" formControlName="birthdate" required>
          <span *ngIf="birthdate.hasError('required')" class="form__error-msg">Error message</span>
        </div>
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Ime oba roditelja</p>
          <input class="form__input" type="text" formControlName="parentsNames" required>
          <span *ngIf="parentsNames.hasError('required')" class="form__error-msg">Error message</span>
        </div>
      </div>
      <div class="form__wrapper" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Telefon / Mobitel</p>
          <input class="form__input" type="text" formControlName="phoneNumber" required>
          <span *ngIf="phoneNumber.hasError('required')" class="form__error-msg">Error message</span>
        </div>
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Email
            <span>(nije obavezno)</span>
          </p>
          <input class="form__input" type="text" formControlName="email">
          <span *ngIf="email.hasError('required')" class="form__error-msg">Error message</span>
        </div>
      </div>
      <div class="form__wrapper" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div class="form__field" fxLayout="column" fxLayoutGap="8px" fxFlex="100%" fxFlex.gt-xs="50%">
          <p class="form__label">Napomena
            <span>(nije obavezno)</span>
          </p>
          <textarea class="form__input form__textarea" formControlName="message" rows="4"></textarea>
          <span *ngIf="message.hasError('required')" class="form__error-msg">Error message</span>
        </div>
      </div>
      <div class="form__action" fxFlex="100%" fxLayoutAlign="center center">
        <button type="submit" class="form__button" [disabled]="applyForm.invalid">Pošalji</button>
      </div>
    </form>
  </div>
</div>
