<div class="modal__container">
  <div class="modal__header">
    <h2 class="modal__title">Odbaci promjene?</h2>
    <a class="modal__cancel-icon" (click)="onCancel()">
      <fa-icon [icon]="cancelIcon"></fa-icon>
    </a>
  </div>
  <div class="modal__content">
    <div class="modal__message">
      <span>Imate nespremljene promjene na ovoj stranici.</span>
      <p>Jeste sigurni da ih želite odbaciti?</p>
    </div>
  </div>
  <div class="modal__action">
    <button class="modal__action-button" (click)="onCancel()">Odustani</button>
    <button class="modal__action-button" (click)="onConfirm()">Potvrdi</button>
  </div>
</div>
