.home {
  &__news-list {
    &__wrapper {
      display: flex;
      justify-content: center;
      background-color: #fafafa;
      padding-bottom: 2.5em;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      margin-top: 1em;
      text-align: center;
      &-text {
        color: #333;
        font-size: 2em;
        margin-bottom: 0.5em;
      }
      &-underline {
        height: 4px;
        width: 80px;
        background-color: #ee3b3b;
        display: block;
        margin: 0 auto;
        border-radius: 2px;
      }
    }
  }
}
