@import './_variables.scss';
@import './scss/datepicker';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 8px;
}

ngx-my-date-picker > .ngxmdp > .selector {
  background-color: rebeccapurple;
  width: calc(100% - 40px);
  top: 77px !important;
  right: 20px;

  &::before,
  &::after {
    content: none;
  }
}

.action-button {
  padding: 1em;
  min-width: 200px;
  margin: 0.5em 0;
  text-decoration: none;
  border: none;
  border-radius: 2em;
  background-color: #1db954;
  color: white;
  font-size: 1em;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.3s;

  &:focus {
    outline: none;
  }
  &.outline {
    background-color: white;
    color: #1db954;
    border-color: #1db954;
  }
  &.small {
    padding: 0.8em 1.4em;
    text-transform: initial;
    letter-spacing: 0;
  }
  &:disabled {
    background-color: rgba($color: #1db954, $alpha: 0.5);
  }
  &:not(:disabled):hover {
    cursor: pointer;
    color: white;
    background-color: rgba($color: #1db954, $alpha: 0.7);
  }
}
